# TensorFlow 2.19.1 & Keras 3.11.2 (neueste Versionen)
tensorflow>=2.19.1
keras>=3.11.2
# python >3.13 (tensorflow support)
numpy
pandas
opencv-python
scikit-learn
tqdm
requests
sentence-transformers
bs4
termcolor
ragas
datasets
openai
langchain
huggingface_hub
Pillow
lfs
subprocess
uv